.container__cover-home{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/im@ges/Slideshow1Home/5.png);
    background-size:cover;
    min-height: 100vh;
    min-width: 220px;
}

.hotels{
    display: flex;

    flex-direction: row;
    padding-top: 30px;
}
.hotel-description{
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 60px;
}
