*{
  margin: 0;
  padding: 0;
}

.content-wrapper {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}
header{
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}

.header img{
  width: 100vw;
  height: 1000px;
  padding: 0;
  margin: 0;
}
.header{
  position: fixed; top: 0;
  z-index: 1;
}
.description{
  width: 25vw;
  height: 350px;
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
   top: 100px; right: 60px;
  h1{
    
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p{
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }
}




.tourism-cards{
  position: relative;
  z-index: 3;
  background-color: white;
  margin-top: 50%;
  text-align: center;
  h1{
    padding-top: 10px;
  }
}
.space{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.text{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
}
.text:hover{
  opacity: 1;
}

.text h2{
  margin: auto;
  padding-top: 50%;
  color: white;
  
}

.location{
  display: inline-block;
  padding-top: 10px;
  cursor: pointer;
}

footer{
  position: absolute;
  z-index: 100;
}

.images{
  width: 300px;
  height: 350px;
}
.images img{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}


.modal{
  display: none;
  flex-direction: row;
  z-index: 8;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);;
  width: 75%;
  height: 75%;
  margin-top: 55%;
  margin-left: 12.5%;
  border-radius: 20px;
  left: 0;
  top: 0;
  h3,p{
    color: white;
  }
}

.modal-image{
  flex-basis: 50%;  
  flex-wrap: wrap;
 
  position: relative;
}

.modal-text{
  flex-basis: 45%;
  position: relative;
  padding-top: 100px;
}
.modal img{
  width: 65%;
  height: 90%;
  margin-left: 40px;
  margin-top: 25px;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.span2{
  display: none;
}


.description-mobile{
  display: none;
}
.text-change{
  display: none;
}
h1{
  color: white;
}

@media only screen and (max-width: 1000px){
  .header img{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .header{
    position: relative; top: 70px;
    height:400px;
    width: 100%;
  }


  .text{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 25%;
    border-radius: 0;
    h2{
      margin-top: 0;
      padding-top: 15px;
    }
  }

  .description{
    display: none;
  }
  
  .tourism-cards{
    padding-top: 0;
    margin-top: 100px;
    h1{
      margin-top: 0;
    }
  }
  .space{
    padding-top: 0;
    margin-top: 0;
  }

  footer{
    position: relative
  }
  
  header {
    padding: 0 20px;
  }
  header .header-right .hamburger {
      display: block;
  }
  header .header-left nav {
      margin: 0;
      position: absolute;
      top: -1000%;
      left: 0;
      width: 100%;
      height: fit-content;
      background-color: #0d0d0d;
      padding: 30px;
      transition: 0.3s;
      text-align: center;
      z-index: 1;
  }
  header .header-left nav.active {
      top: 70px;
  }
  header .header-left nav ul {
      display: block;
  }
  .modal{
    display: none;
    flex-direction: column;
    z-index: 99999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 85%;
    height: 87%;
    margin-top: 15%;
    margin-left: 7.5%;
    border-radius: 20px;
    overflow: scroll;
    left: 0;
    top: 0;
    h3,p{
      color: white;
    }
  }
  .span1{
    display: none;
  }
  .span2{
    display: block;

  }
  
  .modal-image{
    display: block;
  }
  
  .modal-text{
    margin-top: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .modal img{
    width: 90%;
    height: 80%;
    margin-left: 20px;
    margin-top: 25px;
  }

  .description-mobile{
    display: block;
    position: relative;
    z-index: 1;
    top: 70px;
    text-align: center;
    p{
      text-align: center;
    }
    h1{
      color: black;
    }
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
}